In [1]:
import pandas as pd

In [5]:
my_list = [
    [0, 'Huang High School', 'District'],
    [1, 'Figueroa High School', 'District']
]

In [6]:
df = pd.DataFrame(my_list)

In [7]:
df

   0                     1         2
0  0     Huang High School  District
1  1  Figueroa High School  District

In [8]:
my_dict = {
    'School ID': [0, 1],
    'school_name': ['Huang High School', 'Figueroa High School'],
    'type': ['District', 'District']
}

In [9]:
df = pd.DataFrame(my_dict)

In [10]:
df

   School ID           school_name      type
0          0     Huang High School  District
1          1  Figueroa High School  District